body {
 background-color: darkkhaki;
}

h1 {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-size: x-large;
 color:blueviolet;
}

.text {
 color: chartreuse;
 font-size: medium;
 font-family: 'Times New Roman', Times, serif;
 align-items: center;
}

img {
border: solid chartreuse 3px;
height: 200px;
width: 300px;
}

.table {
 color: blueviolet;
}

.table th {
 color: aliceblue;
 font-style: italic;
}